.profile {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.profile-header {
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid #000000;
    margin: 0 auto;
}

.profile-name{
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}
.profile-age {
    margin: 10px ;
    font-size: 20px;
    font-weight: bold;
}

.profile-bio,
.skill-bio,
.language-bio,
.personal-skills {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border: 1px solid #ddd;
}

.profile-bio h2,
.skill-bio h2,
.language-bio h2,
.personal-skills h2 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}