body {
    font-family: Arial, sans-serif;
    background-color: #a5a0a0;
    color: #aca6a6;
    margin: 0;
    padding: 0;
}

.profile {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.details p, h2, ul {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}