body {
    font-family: Arial, sans-serif;
    background-color: #faf5f5;
    color: #000000;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.mobile-menu {
    display: none; /* Hiển thị menu di động khi cần */
}

.profile-info {
    text-align: center; /* Căn giữa thông tin profile */
    padding: 20px;
}

.profile-info h1 {
    font-size: 2em;
    margin: 10px 0;
}

.details p, h2, ul {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for the cover image */
.cover-image {
    width: 100%;
    height: auto;
    max-height: 20rem; /* Chiều cao tối đa cho ảnh bìa */
    object-fit: cover;
}

/* Style for the profile image */
.profile-image {
    border-radius: 50%; /* Để tạo hình tròn */
    height: 10rem; /* Chiều cao cho hình đại diện */
    width: 10rem; /* Chiều rộng cho hình đại diện */
    outline: 2px solid #fcd34d; /* Màu viền cho hình đại diện */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho hình đại diện */
    margin-bottom: 1rem; /* Khoảng cách dưới hình đại diện */
}

/* About Me Section */
.about-me {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #0c0c0c;
    margin: 20px 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}