body {
    font-family: Arial, sans-serif;
    background-color: #f1eaea;
    color: #000000;
    margin: 0;
    padding: 0;
}

.links {
    text-align: center;
    margin: 20px 0;
}

.links h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-info {
    text-align: center; /* Căn giữa thông tin profile */
    padding: 20px;
}

.profile-info h1 {
    font-size: 2em;
    margin: 10px 0;
}

.details p, h2, ul {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for the cover image */
.cover-image {
    width: 100%;
    height: auto;
    max-height: 20rem; /* Chiều cao tối đa cho ảnh bìa */
    object-fit: cover;
}

/* Style for the profile image */
.profile-image {
    border-radius: 50%; /* Để tạo hình tròn */
    height: 10rem; /* Chiều cao cho hình đại diện */
    width: 10rem; /* Chiều rộng cho hình đại diện */
    outline: 2px solid #fcd34d; /* Màu viền cho hình đại diện */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho hình đại diện */
    margin-bottom: 1rem; /* Khoảng cách dưới hình đại diện */
}